@tailwind base;
@tailwind components;
@tailwind utilities;

.light *::selection {
  background-color: var(--color-indigo-500);
  color: var(--color-gray-50);
}

.dark *::selection {
  background-color: var(--color-indigo-200);
  color: var(--color-ghostindigo-900);
}

.youtube-embed {
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .youtube-embed {
    width: 560px;
    height: 315px;
  }
}
