@tailwind base;
@tailwind components;
@tailwind utilities;

.light *::selection {
  background-color: var(--color-indigo-500);
  color: var(--color-gray-50);
}

.dark *::selection {
  background-color: var(--color-indigo-200);
  color: var(--color-ghostindigo-900);
}

.youtube-embed.border-orange {
  @apply rounded-md border-2 border-orange-100 shadow-[0_0px_30px_-10px_rgba(0,0,0,0.3)] shadow-orange-300;
}

.youtube-embed.border-teal {
  @apply rounded-md border-2 border-teal-100 shadow-[0_0px_30px_-10px_rgba(0,0,0,0.3)] shadow-teal-200;
}
